.virtual-container {
    width: 300px;
    position: relative;
    height: 500px;
    overflow: auto;
    border: 1px solid #ccc;
}

.list-item {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    p {
        margin: 0;
    }
}